:host {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: rgba(1, 1, 1, 0.15);
}

div {
  position: relative;
}

lucide-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
