:host {
  display: block;
  padding-top: 34px;
}

#filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--site-width);
  gap: 10px;
  margin: 30px auto 20px;
}

#skeleton-list,
#post-columns {
  display: flex;
  max-width: var(--site-width);
  margin: 0 auto 120px;
  gap: 30px;
}

#skeleton-list {
  flex-wrap: wrap;
  > * {
    flex: 1 1 485px;
  }
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  min-width: 0;
  flex: 1 1 0;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

app-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

app-header,
app-footer {
  box-shadow: 0 0 10px 1px rgba(1, 1, 1, 0.2);
}

#back-to-top {
  position: fixed;
  bottom: 65px;
  left: 0;
  right: 0;
  width: 120px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity ease-in-out 0.15s;
}

:host.scrolled {
  #back-to-top {
    opacity: 1;
  }
}

button {
  appearance: none;
  background: #000;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  line-height: 1rem;
  border-radius: 12px;
  cursor: pointer;
}
