<app-header
  [toggled]="toggled"
  (toggledChange)="updateContent($event)"
  [caption]="content === 'both' ? 'ai+' : 'ai'"
></app-header>

<ul id="filter-list" class="unstyled">
  @for(tag of posts.getTags() | async; track tag) {
  <li (click)="clickTag(tag)">
    <app-filter [tag]="tag" [selected]="tagSelected(tag)"></app-filter>
  </li>
  }
</ul>

@if(loading) {
<div id="skeleton-list">
  @for(i of [1, 2, 3, 4, 5, 6]; track i) {
  <app-skeleton-post />
  }
</div>
} @else {
<div id="post-columns">
  @for(postColumn of posts.getPosts(postQuery) | async | postsColumn:columns; track postColumn) {
  <ul class="post-list unstyled">
    @for(post of postColumn; track post) {
    <li><app-post [post]="post" [content]="content" (tagSelected)="clickTag($event)"></app-post></li>
    }
  </ul>
  }
</div>
}

<app-footer />

<button id="back-to-top" (click)="scrollToTop()">Back to top</button>
